In [2]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/employees details.csv")
print(d)

    Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
0   677509        Drs.       Lois              H    Walker      F
1   940761         Ms.     Brenda              S  Robinson      F
2   428945         Dr.        Joe              W  Robinson      M
3   408351        Drs.      Diane              I     Evans      F
4   193819         Mr.   Benjamin              R   Russell      M
..     ...         ...        ...            ...       ...    ...
95  639892         Mr.       Jose              K      Hill      M
96  704709         Dr.     Harold              Z    Nelson      M
97  461593         Ms.     Nicole              O      Ward      F
98  392491        Mrs.    Theresa              R    Murphy      F
99  495141        Drs.      Tammy              B     Young      F

                          E Mail     Father's Name       Mother's Name  \
0        lois.walker@hotmail.com     Donald Walker        Helen Walker
1      brenda.robinson@gmail.com  Raymond Robinson       Judy Robinson
2         joe.robinson@gmail.com    Scott Robinson  Stephanie Robinson
3          diane.evans@yahoo.com       Jason Evans      Michelle Evans
4   benjamin.russell@charter.net   Gregory Russell   Elizabeth Russell
..                           ...               ...                 ...
95         jose.hill@hotmail.com       Carlos Hill           Anna Hill
96       harold.nelson@gmail.com    Richard Nelson       Pamela Nelson
97         nicole.ward@yahoo.com        Ralph Ward          Julia Ward
98      theresa.murphy@gmail.com     George Murphy   Jacqueline Murphy
99       tammy.young@comcast.net      Andrew Young        Brenda Young

   Mother's Maiden Name  Salary
0                 Lewis  168251
1                 Perry   51063
2                Taylor   50155
3                 Allen  180294
4                Nelson  117642
..                  ...     ...
95                Hayes  129774
96                Smith  156194
97                  Lee   95673
98             Peterson   51015
99             Robinson   93650

[100 rows x 11 columns]

In [3]:
df=pd.DataFrame(d)
print("columns",df.columns)
print(df.shape)

columns Index(['Emp ID', 'Name Prefix', 'First Name', 'Middle Initial', 'Last Name',
       'Gender', 'E Mail', 'Father's Name', 'Mother's Name',
       'Mother's Maiden Name', 'Salary'],
      dtype='object')
(100, 11)

In [4]:
print("emp id",df['Emp ID'])

emp id 0     677509
1     940761
2     428945
3     408351
4     193819
       ...
95    639892
96    704709
97    461593
98    392491
99    495141
Name: Emp ID, Length: 100, dtype: int64

In [5]:
print(df.loc[2])

Emp ID                                  428945
Name Prefix                                Dr.
First Name                                 Joe
Middle Initial                               W
Last Name                             Robinson
Gender                                       M
E Mail                  joe.robinson@gmail.com
Father's Name                   Scott Robinson
Mother's Name               Stephanie Robinson
Mother's Maiden Name                    Taylor
Salary                                   50155
Name: 2, dtype: object

In [8]:
d=pd.read_csv("employees details.csv")
print(d.head(7))

   Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
0  677509        Drs.       Lois              H    Walker      F
1  940761         Ms.     Brenda              S  Robinson      F
2  428945         Dr.        Joe              W  Robinson      M
3  408351        Drs.      Diane              I     Evans      F
4  193819         Mr.   Benjamin              R   Russell      M
5  499687         Mr.    Patrick              F    Bailey      M
6  539712         Ms.      Nancy              T     Baker      F

                         E Mail     Father's Name       Mother's Name  \
0       lois.walker@hotmail.com     Donald Walker        Helen Walker
1     brenda.robinson@gmail.com  Raymond Robinson       Judy Robinson
2        joe.robinson@gmail.com    Scott Robinson  Stephanie Robinson
3         diane.evans@yahoo.com       Jason Evans      Michelle Evans
4  benjamin.russell@charter.net   Gregory Russell   Elizabeth Russell
5        patrick.bailey@aol.com      Ralph Bailey        Laura Bailey
6            nancy.baker@bp.com       Scott Baker          Judy Baker

  Mother's Maiden Name  Salary
0                Lewis  168251
1                Perry   51063
2               Taylor   50155
3                Allen  180294
4               Nelson  117642
5            Henderson   72305
6               Thomas   98189

In [15]:
d=pd.read_csv("employees details.csv")
print(d.tail(7))

    Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
93  158666         Ms.    Rebecca              A   Stewart      F
94  489424         Dr.    Phillip              F     White      M
95  639892         Mr.       Jose              K      Hill      M
96  704709         Dr.     Harold              Z    Nelson      M
97  461593         Ms.     Nicole              O      Ward      F
98  392491        Mrs.    Theresa              R    Murphy      F
99  495141        Drs.      Tammy              B     Young      F

                       E Mail   Father's Name      Mother's Name  \
93  rebecca.stewart@gmail.com   Roger Stewart      Carol Stewart
94    phillip.white@gmail.com    Harold White      Frances White
95      jose.hill@hotmail.com     Carlos Hill          Anna Hill
96    harold.nelson@gmail.com  Richard Nelson      Pamela Nelson
97      nicole.ward@yahoo.com      Ralph Ward         Julia Ward
98   theresa.murphy@gmail.com   George Murphy  Jacqueline Murphy
99    tammy.young@comcast.net    Andrew Young       Brenda Young

   Mother's Maiden Name  Salary
93                  Cox  160043
94               Carter  181774
95                Hayes  129774
96                Smith  156194
97                  Lee   95673
98             Peterson   51015
99             Robinson   93650

In [9]:
df=pd.DataFrame(d)
print(df['Salary']/3)

0     56083.666667
1     17021.000000
2     16718.333333
3     60098.000000
4     39214.000000
          ...
95    43258.000000
96    52064.666667
97    31891.000000
98    17005.000000
99    31216.666667
Name: Salary, Length: 100, dtype: float64

In [10]:
df=pd.DataFrame(d)
print("Email ID:\n",df['E Mail'])

Email ID:
 0          lois.walker@hotmail.com
1        brenda.robinson@gmail.com
2           joe.robinson@gmail.com
3            diane.evans@yahoo.com
4     benjamin.russell@charter.net
                  ...
95           jose.hill@hotmail.com
96         harold.nelson@gmail.com
97           nicole.ward@yahoo.com
98        theresa.murphy@gmail.com
99         tammy.young@comcast.net
Name: E Mail, Length: 100, dtype: object

In [11]:
df=pd.DataFrame(d)
print(d.loc[df['First Name']=='Roy'])

    Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
33  456747         Mr.        Roy              Z   Griffin      M

                   E Mail     Father's Name  Mother's Name  \
33  roy.griffin@yahoo.com  Benjamin Griffin  Wanda Griffin

   Mother's Maiden Name  Salary
33              Simmons  170895

In [14]:
d=pd.read_excel("/Users/student/Downloads/employees-details.xlsx")
print(d)

    Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
0   677509        Drs.       Lois              H    Walker      F
1   940761         Ms.     Brenda              S  Robinson      F
2   428945         Dr.        Joe              W  Robinson      M
3   408351        Drs.      Diane              I     Evans      F
4   193819         Mr.   Benjamin              R   Russell      M
..     ...         ...        ...            ...       ...    ...
95  639892         Mr.       Jose              K      Hill      M
96  704709         Dr.     Harold              Z    Nelson      M
97  461593         Ms.     Nicole              O      Ward      F
98  392491        Mrs.    Theresa              R    Murphy      F
99  495141        Drs.      Tammy              B     Young      F

                          E Mail     Father's Name       Mother's Name  \
0        lois.walker@hotmail.com     Donald Walker        Helen Walker
1      brenda.robinson@gmail.com  Raymond Robinson       Judy Robinson
2         joe.robinson@gmail.com    Scott Robinson  Stephanie Robinson
3          diane.evans@yahoo.com       Jason Evans      Michelle Evans
4   benjamin.russell@charter.net   Gregory Russell   Elizabeth Russell
..                           ...               ...                 ...
95         jose.hill@hotmail.com       Carlos Hill           Anna Hill
96       harold.nelson@gmail.com    Richard Nelson       Pamela Nelson
97         nicole.ward@yahoo.com        Ralph Ward          Julia Ward
98      theresa.murphy@gmail.com     George Murphy   Jacqueline Murphy
99       tammy.young@comcast.net      Andrew Young        Brenda Young

   Mother's Maiden Name  Salary
0                 Lewis  168251
1                 Perry   51063
2                Taylor   50155
3                 Allen  180294
4                Nelson  117642
..                  ...     ...
95                Hayes  129774
96                Smith  156194
97                  Lee   95673
98             Peterson   51015
99             Robinson   93650

[100 rows x 11 columns]