In [1]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['Abi','Babu','Charles','Darwin','Abi','Charles','Darwin'],
                'B':['one','two','three','one','two','three','one'],
                'C':np.random.randint(7,size=7),
                'D':np.random.randint(7,size=7)})
print("Original DataFrame\n",df)

Original DataFrame
          A      B  C  D
0      Abi    one  0  2
1     Babu    two  1  5
2  Charles  three  2  2
3   Darwin    one  2  6
4      Abi    two  4  5
5  Charles  three  3  1
6   Darwin    one  5  0

In [15]:
#one column sum
df1=df.groupby(['A'],as_index=False)['C'].sum()
print("Original Dataframe\n",df)
print("grouped Dataframe with one column sum\n",df1)

Original Dataframe
          A      B  C  D
0      Abi    one  0  2
1     Babu    two  1  5
2  Charles  three  2  2
3   Darwin    one  2  6
4      Abi    two  4  5
5  Charles  three  3  1
6   Darwin    one  5  0
grouped Dataframe with one column sum
          A  C
0      Abi  4
1     Babu  1
2  Charles  5
3   Darwin  7

In [21]:
#multiple column sum
df2=df.groupby(['A','B'],as_index=False)['C'].sum()
print(df2)

         A      B  C
0      Abi    one  0
1      Abi    two  4
2     Babu    two  1
3  Charles  three  5
4   Darwin    one  7

In [24]:
df2=df.groupby(['B'],as_index=False)['C'].sum()
print(df2)

       B  C
0    one  7
1  three  5
2    two  5

In [18]:
df1=df.groupby(['A'],as_index=False).sum()
print("Original Dataframe\n",df)
print("grouped Dataframe with one column sum\n",df1)

Original Dataframe
          A      B  C  D
0      Abi    one  0  2
1     Babu    two  1  5
2  Charles  three  2  2
3   Darwin    one  2  6
4      Abi    two  4  5
5  Charles  three  3  1
6   Darwin    one  5  0
grouped Dataframe with one column sum
          A           B  C  D
0      Abi      onetwo  4  7
1     Babu         two  1  5
2  Charles  threethree  5  3
3   Darwin      oneone  7  6

In [28]:
df3=df.groupby(['A','B'],as_index=False)[['C','D']].sum()
print(df3)

         A      B  C  D
0      Abi    one  0  2
1      Abi    two  4  5
2     Babu    two  1  5
3  Charles  three  5  3
4   Darwin    one  7  6

In [29]:
#using groupby() with agg()
import pandas as pd
df=pd.DataFrame({
    'Category':['A','B','C','A','B','C'],
    'Sales':[100,200,150,150,130,200],
    'Profit':[10,15,20,25,30,15]
})
print(df)
df1=df.groupby('Category').agg({'Sales':['sum','mean'],'Profit':['sum','max']})
print(df1)

  Category  Sales  Profit
0        A    100      10
1        B    200      15
2        C    150      20
3        A    150      25
4        B    130      30
5        C    200      15
         Sales        Profit
           sum   mean    sum max
Category
A          250  125.0     35  25
B          330  165.0     45  30
C          350  175.0     35  20

In [35]:
#for student marks
df=pd.DataFrame({'Stud':['a','b','c','a','c','b'],
                'marks':[60,71,74,61,56,70],
                'attend':[75,93,89,76,56,60],
                })
df1=df.groupby('Stud').agg({'marks':['sum','mean','max','min','std'],'attend':['sum','mean']})
print(df1)

     marks                          attend
       sum  mean max min        std    sum  mean
Stud
a      121  60.5  61  60   0.707107    151  75.5
b      141  70.5  71  70   0.707107    153  76.5
c      130  65.0  74  56  12.727922    145  72.5