In [15]:
import pandas as pd
d=pd.read_csv("EMPLOYER - Sheet1.csv")
print(d)

     SNO. FIRST NAME        DESIGNATION  GENDER  LOGIN TIME       SALARY  \
0       1   A. Morin            MANAGER    MALE    5.000000   50000.0000
1       2   A. Morin                CEO  FEMALE    3.000000  100000.0000
2       3   A. Morin                 DC    MALE    6.000000   20000.0000
3       4   A. Morin                 PC    MALE   10.000000   35000.0000
4       5   A. Morin         SECRETATRY  FEMALE   11.000000   32000.0000
..    ...        ...                ...     ...         ...          ...
235   236     Bonnat                 DS    MALE   -7.802546 -576448.4848
236   237     Bonnat  ASSISTANT MANAGER    MALE   -7.864465 -579151.5152
237   238     Bonnat           MECHANIC  FEMALE   -7.926385 -581854.5455
238   239     Bonnat         TECHNICIAN    MALE   -7.988304 -584557.5758
239   240     Bonnat     CHIEF ENGINEER  FEMALE   -8.050224 -587260.6061

     BONUS        TEAM
0        1          HR
1        2          PR
2        3          KR
3        4   TECHNICAL
4        5    MANAGING
..     ...         ...
235    236          PR
236    237          KR
237    238   TECHNICAL
238    239    MANAGING
239    240  ACCOUNTING

[240 rows x 8 columns]

In [16]:
df=pd.DataFrame(d)
print("Columns",df.columns)
print(df.shape)

Columns Index(['SNO.', 'FIRST NAME', 'DESIGNATION', 'GENDER', 'LOGIN TIME', 'SALARY',
       'BONUS', 'TEAM'],
      dtype='object')
(240, 8)

In [17]:
print("Team",df['TEAM'])

Team 0              HR
1              PR
2              KR
3       TECHNICAL
4        MANAGING
          ...
235            PR
236            KR
237     TECHNICAL
238      MANAGING
239    ACCOUNTING
Name: TEAM, Length: 240, dtype: object

In [18]:
print(df[5:10])#(n-1)

   SNO. FIRST NAME        DESIGNATION  GENDER  LOGIN TIME   SALARY  BONUS  \
5     6   A. Morin                 DS  FEMALE         3.0  40000.0      6
6     7   A. Morin  ASSISTANT MANAGER    MALE         4.0  90000.0      7
7     8   A. Morin           MECHANIC    MALE         1.0  40000.0      8
8     9   A. Morin         TECHNICIAN    MALE        12.0  50000.0      9
9    10   A. Morin     CHIEF ENGINEER  FEMALE        10.0   9000.0     10

         TEAM
5  ACCOUNTING
6    CLEANING
7    SWEEPING
8        FOOD
9          HR

In [19]:
print("Particular person details",df.loc[2])

Particular person details SNO.                  3
FIRST NAME     A. Morin
DESIGNATION          DC
GENDER             MALE
LOGIN TIME          6.0
SALARY          20000.0
BONUS                 3
TEAM                 KR
Name: 2, dtype: object

In [20]:
print(d.loc[d['SALARY']==50000])

   SNO. FIRST NAME DESIGNATION GENDER  LOGIN TIME   SALARY  BONUS  TEAM
0     1   A. Morin     MANAGER   MALE         5.0  50000.0      1    HR
8     9   A. Morin  TECHNICIAN   MALE        12.0  50000.0      9  FOOD

In [21]:
df=d['SALARY']/999
print(df)

0       50.050050
1      100.100100
2       20.020020
3       35.035035
4       32.032032
          ...
235   -577.025510
236   -579.731246
237   -582.436982
238   -585.142719
239   -587.848455
Name: SALARY, Length: 240, dtype: float64