In [ ]:
#basic implementation
import pandas as pd
import numpy as np
arr=np.array(['k','a','n','i','s','h','k','a','r'])
a=pd.Series(arr)
print(a)

0    k
1    a
2    n
3    i
4    s
5    h
6    k
7    a
8    r
dtype: object

In [ ]:
#pandas series from dictionary
import pandas as pd
import numpy as np
arr={'a':0,'b':1,'c':2}
a=pd.Series(arr)
print(a)

a    0
b    1
c    2
dtype: int64

In [ ]:
#make 0 to 4 indeces as 4
import pandas as pd
import numpy as np
scalar=pd.Series('4',index=[0,1,2,3])
print(scalar)

0    4
1    4
2    4
3    4
dtype: object

In [ ]:
#index, dim, shape, size, values
import pandas as pd
import numpy as np
arr={'a':0,'b':1,'c':2}
a=pd.Series(arr)
print("series:\n",a)
print("index:",a.index)
print("values:",a.values)
print("shape:",a.shape)
print("dimension:",a.ndim)
print("size:",a.size)
#for name series
print("FOR NAME SERIES")
brr=np.array(['k','a','n','i','s','h','k','a','r'])
b=pd.Series(brr)
print("index:",b.index)

series:
 a    0
b    1
c    2
dtype: int64
index: Index(['a', 'b', 'c'], dtype='object')
values: [0 1 2]
shape: (3,)
dimension: 1
size: 3
FOR NAME SERIES
index: RangeIndex(start=0, stop=9, step=1)