In [1]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [12]:
emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\n series to data frame\n")
print(result)

 series to data frame

      emp  ID
0     uma  10
1    siva  20
2  sindhu  30
3    ravi  40

In [22]:
emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\n extracting one column\n")
print(result['emp'])

 extracting one column

0       uma
1      siva
2    sindhu
3      ravi
Name: emp, dtype: object

In [23]:
#adding a new column
emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'emp':emp,'ID':id}
result=pd.DataFrame(frame)
result['age']=pd.Series([20,23,30,50])
print(result)

      emp  ID  age
0     uma  10   20
1    siva  20   23
2  sindhu  30   30
3    ravi  40   50

In [26]:
#deleting a column
emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'emp':emp,'ID':id}
result=pd.DataFrame(frame)
result['age']=pd.Series([20,23,30,50])
del result['age']
print(result)

      emp  ID
0     uma  10
1    siva  20
2  sindhu  30
3    ravi  40

In [9]:
emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("extracting a row\n")
print(result.loc[1])

extracting a row

emp    siva
ID       20
Name: 1, dtype: object

In [27]:
#slice
emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("slice rows:\n",result[1:3])

slice rows:
       emp  ID
1    siva  20
2  sindhu  30

In [19]:
#concatenation
emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'emp':emp,'ID':id}
result=pd.DataFrame(frame)
d2=pd.DataFrame([['anu',20],['jinu',19]],columns=['emp','ID'])
print("adding a new row value\n",pd.concat([result,d2]))

adding a new row value
       emp  ID
0     uma  10
1    siva  20
2  sindhu  30
3    ravi  40
0     anu  20
1    jinu  19

In [20]:
#deleting a row
emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'emp':emp,'ID':id}
result=pd.DataFrame(frame)
print(result.drop(2))

    emp  ID
0   uma  10
1  siva  20
3  ravi  40