In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
#create a data variable that contains the dates
dates=[datetime(2011,1,2),
       datetime(2011,1,5),
       datetime(2011,1,7),
       datetime(2011,1,8),
       datetime(2011,1,10),
       datetime(2011,1,12)]
#with this date object, create a series
ts=pd.Series(np.random.randn(6),index=dates)
print("Date index:\n",ts)

Date index:
 2011-01-02    0.297367
2011-01-05   -0.994191
2011-01-07    0.894982
2011-01-08    0.630715
2011-01-10   -0.744171
2011-01-12   -1.229655
dtype: float64

In [2]:
#to print index alone
print("data index alone from the series:\n",ts.index)

data index alone from the series:
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [3]:
stamp=ts.index[2]
print("second index:\n",stamp)

second index:
 2011-01-07 00:00:00

In [5]:
#play like a ball with long time series
longer_ts=pd.Series(np.random.randn(1000),
                    index=pd.date_range("2000-01-01",periods=1000))
print("Date range upto 1000 days:\n",longer_ts)

Date range upto 1000 days:
 2000-01-01    0.875129
2000-01-02    0.493963
2000-01-03   -0.094106
2000-01-04   -0.811241
2000-01-05   -0.835261
                ...
2002-09-22    0.168012
2002-09-23   -0.576184
2002-09-24    1.265842
2002-09-25    1.018123
2002-09-26   -0.878222
Freq: D, Length: 1000, dtype: float64

In [6]:
print("date range=2001 year;\n",longer_ts["2001"])

date range=2001 year;
 2001-01-01   -0.795553
2001-01-02   -0.720111
2001-01-03   -0.690533
2001-01-04   -0.880416
2001-01-05   -0.093264
                ...
2001-12-27    1.014882
2001-12-28    0.674342
2001-12-29    1.055371
2001-12-30   -1.256967
2001-12-31   -0.030301
Freq: D, Length: 365, dtype: float64

In [7]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01   -0.039963
2001-05-02   -0.569788
2001-05-03   -0.988763
2001-05-04   -1.381654
2001-05-05    1.305988
2001-05-06   -0.065209
2001-05-07    0.977795
2001-05-08   -0.796338
2001-05-09    0.140645
2001-05-10   -0.028813
2001-05-11    0.423963
2001-05-12   -0.558225
2001-05-13    1.276272
2001-05-14    1.171275
2001-05-15    0.748080
2001-05-16    0.741939
2001-05-17   -0.237668
2001-05-18    0.427723
2001-05-19    1.175179
2001-05-20    0.444541
2001-05-21   -0.391745
2001-05-22   -0.351650
2001-05-23    1.908135
2001-05-24    0.485436
2001-05-25   -1.409794
2001-05-26   -0.524293
2001-05-27    0.254124
2001-05-28    1.081409
2001-05-29   -0.116474
2001-05-30    0.627729
2001-05-31   -0.032277
Freq: D, dtype: float64

In [8]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01    0.875129
2000-01-02    0.493963
2000-01-03   -0.094106
2000-01-04   -0.811241
2000-01-05   -0.835261
Freq: D, dtype: float64

In [9]:
print("\nDate range-first 15 dates in 02 month 2001 year:\n",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year:
 2000-02-01   -0.832595
2000-02-02   -0.877678
2000-02-03    0.611162
2000-02-04   -0.204403
2000-02-05   -0.333978
2000-02-06   -0.148823
2000-02-07   -1.862913
2000-02-08    0.056524
2000-02-09   -0.111540
2000-02-10   -1.448529
2000-02-11   -1.353635
2000-02-12   -1.167976
2000-02-13    0.084677
2000-02-14   -1.309083
2000-02-15    0.903726
Freq: D, dtype: float64

In [12]:
print("date range from 26-9-2001 to end:\n",longer_ts[datetime(2000,9,26):])

date range from 26-9-2001 to end:
 2000-09-26   -2.210003
2000-09-27   -2.903145
2000-09-28   -0.056386
2000-09-29    0.345618
2000-09-30    0.200656
                ...
2002-09-22    0.168012
2002-09-23   -0.576184
2002-09-24    1.265842
2002-09-25    1.018123
2002-09-26   -0.878222
Freq: D, Length: 731, dtype: float64

In [13]:
print("date range from 29-9-2001 to 25-9-2002:\n",longer_ts[datetime(2001,9,29):datetime(2002,9,25)])

date range from 29-9-2001 to 25-9-2002:
 2001-09-29   -0.826572
2001-09-30   -0.263751
2001-10-01   -1.047903
2001-10-02    0.807121
2001-10-03   -0.625486
                ...
2002-09-21   -0.364259
2002-09-22    0.168012
2002-09-23   -0.576184
2002-09-24    1.265842
2002-09-25    1.018123
Freq: D, Length: 362, dtype: float64